@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["MensagemErro"] != null)
{
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close"> X </button>
        @TempData["MensagemErro"]
        </div>
}


<form asp-controller="Login" asp-action="EnviarLinkParaRedefinirSenha" method="post">
    <!--<a href="/">Essa linha de cima Vai identificar o controller "Login" passar a açao que esta dentro do controller e dizer o tipo de metodo</a> -->

    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu Login">
        @Html.ValidationMessageFor(x=>x.Login)
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="email" placeholder="Digite seu E-Mail">
        @Html.ValidationMessageFor(x=>x.Email)
    </div>
    <br>
    <button type="submit" class="btn btn-primary w-100">Redefinir Senha</button>
    <br></br>
    <a class="btn btn-secondary w-100" asp-controller="Login" asp-action="Index" role="button">Voltar</a>

</form>