@model ContatoModel //uma view só pode ver uma model por vez
@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)!</h1>
    <p>Sistem de Controle de Contatos</p>
</div>
